<div class="main-container">
    <div class="inner-content">
        <span class="name-heading">Hello! My name is</span>
        <h1 class="name">Chaina Mahato</h1>
        <div class="info-block">
            <span class="about">Passionately Creating Design Wonders <br> Unleashing Boundless Creativity</span>
            <!-- <div class="info-btn">
                <span>MORE ABOUT ME</span>
                <div class="img">
                    <img src="/assets/images/icons/arrow_right.svg" alt="">
                </div>
            </div> -->
        </div>
        
        <div class="footer">
            <div class="footer-inner">
                <img class="main-character" src="./assets/images/icons/main-character.jpg" alt="">
                <div class="footer-content">
                    <div class="start-position">Design a better world today</div>
                    <div class="end-position">
                        <button (click)="navigateTo()">
                            <span>ABOUT ME</span>
                            <div class="arrow-icon">
                                <img src="./assets/images/icons/arrow_right.svg" alt="">
                            </div>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>