.menu-dialog {
    background-color: black;
    color: white;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    padding: 22px 20px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
  
    .inner-content{
        height: 100%;
        width: 100%;
        position: relative;
        display: flex;
        align-items: center;

        header{
            position: absolute;
            top: 0;
            width: 100%;
            display: flex;
            align-items: center;
            flex-direction: row;
            justify-content: space-between;

            h2{
                color: white;
                font-size: 36px;
                font-weight: 500;
            }
        }
      
        ul {
            list-style-type: none;
            padding-left: 120px;
            margin: 0;
            text-align: start;
            width: 100%;
            
            li {
              margin: 15px 0;
              position: relative;
              
              a {
                display: block;
                color: white;
                font-size: 32px;
                font-weight: 500;
                text-decoration: none;
                transition: color 0.3s ease, transform 0.3s ease;
                
                &:hover {
                    color: #ff9800;
                    transform: translateX(25px);
                }
              }
          
          
              /* Create the dot */
              &::before {
                content: '';
                position: absolute;
                left: 0px; /* Position the dot to the left of the text */
                top: 50%;
                transform: translateY(-50%);
                width: 8px;
                height: 8px;
                border-radius: 50%;
                background-color: #ff9800;
                opacity: 0; /* Initially hidden */
                transition: opacity 0.3s ease, transform 0.3s ease;
              }
          
              &:hover::before {
                opacity: 1; /* Show the dot on hover */
                transform: translateY(-50%) scale(1); /* Optional: Add a slight scale effect for emphasis */
              }
            }
          }
          
        @media (max-width: 750px) {
            justify-content: center;

            ul{
                padding-left: 0;
                text-align: center;
                width: unset;
            }
        }
      
        button {
            all: unset;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-right: 10px;
          cursor: pointer;
        }
    }
}
  